<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Welcome</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>

<form th:action="@{/editCharacter} + '/' + ${id}"
      th:object="${characterForm}" method="POST">
    Name:
    <input type="text" th:field="*{name}" />
    <br/>
    Job:
    <input type="text" th:field="*{job}" />
    <br/>
    <input type="submit" value="Update" />
</form>


<a th:href="@{/characterList}">Character List</a>

</body>

</html>